<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet" />
    <title>Email template</title>

    <style type="text/css">
      /* desktop styles */
      html {
        font-family: 'Manrope', sans-serif;
        color: #000;
      }

      h2 {
        font-size: 1.5rem;
      }

      h3 {
        text-transform: uppercase;
        font-weight: 200;
        letter-spacing: 3px;
        font-size: 1rem;
      }

      h2,
      h3,
      h4,
      h5,
      h6 p {
        line-height: 1.35;
      }

      p,
      li {
        line-height: 1.6;
        color: #313131;
        font-size: 1rem;
      }

      h1,
      h2,
      h4,
      h5,
      h6,
      p {
        margin: 0;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-bottom: 24px;
        letter-spacing: -0.2px;
      }

      h1 {
        line-height: 1;
        letter-spacing: -2px;
        color: #f0692a;
        font-size: 2rem;
      }

      .primary {
        color: #f0692a;
      }

      .otp {
        margin-top: 24px;
        font-size: 20px;
      }

      ul {
        padding: 16px;
      }

      #logo {
        width: 31%;
      }

      table {
        border-spacing: 0;
      }

      table tr td {
        padding: 32px;
      }

      #button-table-wrapper td {
        padding: 0px;
      }

      #footer-td {
        background-position: 40px 0px;
      }

      /* tablet styles */
      @media only screen and (max-width: 860px) {
        #desktop-smile-icon {
          display: none;
        }

        #mobile-smile-icon {
          display: initial;
          padding-bottom: 32px;
          width: 70px;
        }
      }

      /* mobile styles */
      @media only screen and (max-width: 480px) {
        table tr td {
          padding: 16px;
        }

        #button-table-wrapper td {
          padding: 0px;
        }

        #footer-td {
          background-position: 0px 0px;
        }
      }
    </style>
  </head>

  <body style="padding: 0; margin: 0">
    <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      height="100%"
      width="100%"
      style="background-color: #ffffff; padding: 0px"
    >
      <tr>
        <td style="padding: 0" align="center" valign="top">
          <table border="0" role="main" style="max-width: 640px; min-height: auto; background-color: #ffffff">
            <tr>
              <td style="padding: 0">
                <!-- Header start -->
                <table role="presentation" border="0" cellspacing="0" width="100%">
                  <tr>
                    <td valign="top">
                      <img
                        style="height: 60px"
                        alt="logo"
                        src="https://foodie-s3.s3.eu-west-2.amazonaws.com/foodie.png"
                      />
                    </td>
                  </tr>
                </table>

                <!-- Header end -->
                <!-- Body start -->
                <table role="presentation" border="0" cellspacing="0" width="100%">
                  <tr>
                    <td valign="top">
                      <h2>Hi <%= locals?.receiver %>,</h2>
                      <h3><%= locals?.title %></h3>
                      <% if(locals?.content) { %> <% for (paragraph of content) { %>
                      <p style="margin-bottom: 8px"><%- paragraph %></p>
                      <% } %> <% } %> <% if(locals?.list) { %>
                      <ul style="margin-top: 16px">
                        <% for (item of list) { %>
                        <li style="margin-bottom: 8px"><%- item %></li>
                        <% } %>
                      </ul>
                      <% } %> <% if(locals?.bottom_content) { %> <% for (block of bottom_content) { %>
                      <p style="margin-bottom: 8px"><%- block %></p>
                      <% } %> <% } %>
                      <!-- BUTTON START -->
                      <table
                        style="padding: 24px 0px"
                        id="button-table-wrapper"
                        border="0"
                        cellspacing="0"
                        cellpadding="0"
                      >
                        <tr>
                          <td align="center">
                            <% if(locals?.action_primary) { %>
                            <a
                              rel="noopener"
                              href="<%= action_primary.url %>"
                              target="_blank"
                              style="
                                color: #fff;
                                text-decoration: none;
                                color: #f0692a;
                                border: 2px solid #f0692a;
                                padding: 10px 16px;
                                border-radius: 7px;
                                font-size: 1rem;
                              "
                            >
                              <%= action_primary.text %>
                            </a>
                            <% } %> <% if(locals?.action_secondary) { %>
                            <a
                              rel="noopener"
                              href="<%= action_secondary.url %>"
                              target="_blank"
                              style="
                                color: #000000;
                                text-decoration: none;
                                border: 2px solid #000000;
                                padding: 10px 16px;
                                border-radius: 7px;
                                margin-left: 16px;
                                font-size: 1rem;
                              "
                            >
                              <%= action_secondary.text %>
                            </a>
                            <% } %>
                          </td>
                        </tr>
                      </table>
                      <!-- BUTTON END -->
                      <p style="margin-bottom: 0">Thanks,</p>
                      <p>The Foodie App</p>
                    </td>
                  </tr>
                </table>
                <!-- Body end -->
                <!-- Footer start -->
                <table role="presentation" border="0" cellspacing="0" width="100%">
                  <tr>
                    <td id="footer-td" height="auto" align="right" valign="bottom"></td>
                  </tr>
                </table>
                <!-- Footer end -->
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
